
* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
}
html,
body {
    margin: 20px;
    -webkit-font-smoothing: antialiased;
}
button {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}
button:hover {
    background-color: #3e4144;
}
button:focus{
    outline: none;
}

/* header */

.user-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    
    background-color: rgba(211, 211, 211, 0.7);
    backdrop-filter: brightness(100%) blur(3px);
    border-bottom: 1px solid black;
}

.user-header-logo {
    margin-left: 50px; 
}

.user-header-userinfo {
    display: flex;
    margin-left: auto; 
    margin-right: 0;
}

.user-header img {
    height: 100px;
    width: 100px;
}

.user-header-content {
    margin: 0 0 0 5px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 200px;
}

.avatar {
    display: flex;
    flex-direction: column;
}

.avatar input {
    margin-top: 5px;
}

.nombre{
    font-size: 30px;
    font-weight: bold;
    margin: 2px;
}

.email{
    margin: 2px;
}

.btn-cerrar-sesion {
    margin: 10px 0 0 0;
}

/* div para espaciar */

.espacio {
    height: 80px;
}

/* Lista de usuarios administradores */

.scroll-usuarios{
	height: 10rem;
	overflow-x: hidden;
	overflow-y: scroll;
    width: 430px;
    margin: 0 0 0 10px;
}

.lista-usuarios {
    display: flex;
}

.lista-usuarios-avatares img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.lista-usuarios-content {
    margin: 0 0 0 5px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 200px;
}

.lista-usuarios-nombre {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 2px;
}

.lista-usuarios-email {
    font-size: 12px;
    margin: 0 0 2px 2px;
}

.lista-usuarios-crud {
    display: flex;
}

.lista-usuarios-crud input {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}

.lista-usuarios-modificar input {
    margin: 2px 2px 0 2px;
}

.lista-usuarios-eliminar input {
    background-color: rgb(240, 32, 32);
    margin: 2px 2px 0 2px;
}
.lista-usuarios-eliminar input:hover {
    background-color: rgb(241, 101, 101);
}

.lista-item-contenido h5 {
    font-size: 1.5em;
    color: #555;
}
.lista-item-contenido h6 {
    font-size: 1em;
    color: #888;
}

.eresAdmin {
    width: 400px;
    margin: 0 0 0 10px;
}

.lista-usuarios-crear input {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 0 10px 10px;
}

.lista-usuarios-crear input:hover {
    background-color: #3e4144;
}

/* Login */

.loginError button {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}

/* Página modificar user */

.modificar-user {
    display: flex;
}

.modificar-avatar {
    display: flex;
    flex-direction: column;
}

.modificar-avatar img {
    height: 100px;
    width: 100px;
}

.modificar-avatar input {
    margin-top: 5px;
}

.modificar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.aceptar-modificaciones {
    margin-top: 5px;
}

/* Plantas */

.scroll-plantas {
    display: flex;
    flex-wrap: wrap;
}
.lista-plantas-crear input {
    margin: 20px 0 0 10px;
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;

}

.lista-plantas-crear input:hover {
    background-color: #3e4144;
}

.lista-plantas {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 200px;
}

.carta {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.carta:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.lista-plantas-content {
    height: 100px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lista-plantas-fotos {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.lista-plantas-fotos img {
    height: 200px;
    width: 100%;
    vertical-align: middle;
    transition: transform 1s; /* Animation */

}

.lista-plantas-fotos:hover img {
    position: relative;
    transform: scale(1.5);
}

.lista-plantas-nombre {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

/*
.lista-plantas-descripcion {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
*/

.lista-plantas-precio {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

.lista-plantas-crud {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid black;
}

.lista-plantas-crud input {
    margin: 10px;
    border: 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    max-width: 100%;
    background: transparent;
}

.lista-plantas-modificar {
    flex: 1 1 auto;
    border-right: 1px solid black;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background .3s ease-out, box-shadow .3s ease-out;
    -moz-transition: background .3s ease-out, box-shadow .3s ease-out;
    -o-transition: background .3s ease-out, box-shadow .3s ease-out;
    transition: background .3s ease-out, box-shadow .3s ease-out;
}

.lista-plantas-modificar:hover {
    background: rgba(0, 0, 0, 0.719);
    -webkit-box-shadow: 0px 0px 25px -1px #000000; 
    box-shadow: 0px 0px 25px -1px #000000;
}

.lista-plantas-modificar #modificar {
    -webkit-transition: color .2s; /* For Safari 3.0 to 6.0 */
    transition: color .2s; /* For modern browsers */
}

.lista-plantas-modificar:hover #modificar {
    color:rgb(255, 255, 255);
}

.lista-plantas-eliminar {
    flex: 1 1 auto;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background .3s ease-out, box-shadow .3s ease-out;
    -moz-transition: background .3s ease-out, box-shadow .3s ease-out;
    -o-transition: background .3s ease-out, box-shadow .3s ease-out;
    transition: background .3s ease-out, box-shadow .3s ease-out;
}

.lista-plantas-eliminar:hover {
    background: rgba(255, 55, 55, 0.973);
    -webkit-box-shadow: 0px 0px 25px -1px #FF0000; 
    box-shadow: 0px 0px 25px -1px #FF0000;
}

.lista-plantas-eliminar #eliminar {
    -webkit-transition: color .2s; /* For Safari 3.0 to 6.0 */
    transition: color .2s; /* For modern browsers */
}

.lista-plantas-eliminar:hover #eliminar {
    color:rgb(255, 255, 255);
}

.ver-detalles-planta {
    border-top: 1px solid black;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background .3s ease-out, box-shadow .3s ease-out;
    -moz-transition: background .3s ease-out, box-shadow .3s ease-out;
    -o-transition: background .3s ease-out, box-shadow .3s ease-out;
    transition: background .3s ease-out, box-shadow .3s ease-out;
}

.ver-detalles-planta:hover {
    background: rgba(126, 170, 44, 0.897);
    -webkit-box-shadow: 0px -5px 25px -1px #91B52D; 
    box-shadow: 0px -5px 25px -1px #91B52D;
    
}

.ver-detalles-planta input {
    margin: 10px;
    border: 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    max-width: 100%;
    background: transparent; 
    -webkit-transition: color .2s; /* For Safari 3.0 to 6.0 */
    transition: color .2s; /* For modern browsers */
}

.ver-detalles-planta:hover input {
    color: rgb(255, 255, 255);
}
