
* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
}
html,
body {
    margin: 20px;
    -webkit-font-smoothing: antialiased;
    background-color: #f1f1f1;
}
button {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}
button:hover {
    background-color: #3e4144;
}
button:focus{
    outline: none;
}

/* header */
.menu-user {
    margin-left: auto; 
    margin-right: 0;
    padding: 10px;
}

.btn-registrarse, .btn-iniciarsesion {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 50px;
    z-index: 90;
    background: rgb(87,135,31);
    background: linear-gradient(90deg, rgba(87,135,31,1) 0%, rgba(132,191,34,1) 100%);
    /*
    background-color: rgba(211, 211, 211, 0.7);
    backdrop-filter: brightness(100%) blur(3px);
    border-bottom: 1px solid black;
    */
}

@media only screen and (min-width: 1200px) {
    .topbar {
        width: 1080px;
        max-width: 1080px;
    }
}

@media only screen and (min-width: 1200px) {
    .topbar {
        max-width: 1080px;
    }
}
@media only screen and (min-width: 996px) {
    .topbar {
        max-width: 1080px;
    }
}
@media only screen and (min-width: 768px) {
    .topbar {
        max-width: 1080px;
        padding: 0;
    }
}

.topbar {
    display: flex;
    height: 50px;
    /*margin: 0 auto;*/
}

/* Menu navegacion debajo de header */
.menu-navegacion {
    height: 80px;
    background-color: #dfdfdf;
    display: flex;
}
.menu-logo img {
    width: 100%;
    height: 100%;
}

.botones-menu {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

.caja1, .caja2, .caja3, .caja4, .caja5 {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.header-logo {
    cursor: pointer;
}

.header-logo img {
    padding: 5px;
    height: 42px;
    width: 42px;
}

.header-userinfo {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.header-userinfo a {
    text-decoration: none;
    color: #fff;
}

.userinfo {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.nombre {
    padding: 10px;
}

.header-content {
    display: flex;
    flex-direction: row;
    width: 250px;
    padding: 10px;
    justify-content: space-around;
}

.avatar img {
    height: 50px;
    width: 50px;
}

.avatar input {
    margin-top: 5px;
}

.nombre{
    font-size: 20px;
    font-weight: bold;
}

.email{
    margin: 2px;
}

/* Dropdown menú */
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17.3px 10px 0 10px;
    border-color: #000000 transparent transparent transparent;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

#collapse-menu {
    transition: transform 0.3s;
    transform-origin: top;
    color: #FFF;
    top: 100%;
    left: 0;
    z-index: 99;
    float: left;
    min-width: 100px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #252c31;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

#collapse-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #d3dce4;
    white-space: nowrap;
    list-style: none;
    text-decoration: none;
}

#collapse-menu li:hover {
    background-color: #606f7a;
}
  
input:not(:checked) ~ #collapse-menu {
    transform: scaleY(0);
}

.presentacion {
    height: 200px;
    background-color: #2b2e30;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* div para espaciar */
.espacio {
    height: 100px;
}

/* Contenido principal de la página */
@media only screen and (min-width: 1200px) {
    .content{ 
        max-width: 1080px;
        padding-top: 14px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.content{
    width: 100%;
    /*margin: 0 auto;*/
    background-color: #ffffff;
}

/* Lista de usuarios administradores */
.scroll-usuarios{
	height: 10rem;
	overflow-x: hidden;
	overflow-y: scroll;
    width: 430px;
    margin: 0 0 0 10px;
}

.lista-usuarios {
    display: flex;
}

.lista-usuarios-avatares img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.lista-usuarios-content {
    margin: 0 0 0 5px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 200px;
}

.lista-usuarios-nombre {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 2px;
}

.lista-usuarios-email {
    font-size: 12px;
    margin: 0 0 2px 2px;
}

.lista-usuarios-crud {
    display: flex;
}

.lista-usuarios-crud input {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}

.lista-usuarios-modificar input {
    margin: 2px 2px 0 2px;
}

.lista-usuarios-eliminar input {
    background-color: rgb(240, 32, 32);
    margin: 2px 2px 0 2px;
}
.lista-usuarios-eliminar input:hover {
    background-color: rgb(241, 101, 101);
}

.lista-item-contenido h5 {
    font-size: 1.5em;
    color: #555;
}
.lista-item-contenido h6 {
    font-size: 1em;
    color: #888;
}

.eresAdmin {
    width: 400px;
    margin: 0 0 0 10px;
}

.lista-usuarios-crear input {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 0 10px 10px;
}

.lista-usuarios-crear input:hover {
    background-color: #3e4144;
}

/* Login */
.loginError button {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}

/* Página modificar user */

.modificar-user {
    display: flex;
}

.modificar-avatar {
    display: flex;
    flex-direction: column;
}

.modificar-avatar img {
    height: 100px;
    width: 100px;
}

.modificar-avatar input {
    margin-top: 5px;
}

.modificar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.aceptar-modificaciones {
    margin-top: 5px;
}

/* Ordenar plantas */

.lista-orden {
    padding: 10px;
}

/* Plantas */

.scroll-plantas {
    display: flex;
    flex-wrap: wrap;
}

.lista-plantas-crear input {
    margin: 20px 0 0 10px;
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;

}

.lista-plantas-crear input:hover {
    background-color: #3e4144;
}

.lista-plantas {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    width: 200px;
}

.carta {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.carta:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.lista-plantas-content {
    height: 120px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lista-plantas-fotos {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.lista-plantas-fotos img {
    height: 200px;
    width: 100%;
    vertical-align: middle;
    transition: transform 1s; /* Animation */

}

.lista-plantas-fotos:hover img {
    position: relative;
    transform: scale(1.5);

    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.lista-plantas-nombre {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

/*
.lista-plantas-descripcion {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
*/

.lista-plantas-precio {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

.lista-plantas-crud {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid black;
}

.lista-plantas-crud input {
    margin: 10px;
    border: 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    max-width: 100%;
    background: transparent;
}

.lista-plantas-modificar {
    flex: 1 1 auto;
    border-right: 1px solid black;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background .3s ease-out, box-shadow .3s ease-out;
    -moz-transition: background .3s ease-out, box-shadow .3s ease-out;
    -o-transition: background .3s ease-out, box-shadow .3s ease-out;
    transition: background .3s ease-out, box-shadow .3s ease-out;
}

.lista-plantas-modificar:hover {
    background: rgba(0, 0, 0, 0.719);
    -webkit-box-shadow: 0px 0px 25px -1px #000000; 
    box-shadow: 0px 0px 25px -1px #000000;
}

.lista-plantas-modificar #modificar {
    -webkit-transition: color .2s; /* For Safari 3.0 to 6.0 */
    transition: color .2s; /* For modern browsers */
}

.lista-plantas-modificar:hover #modificar {
    color:rgb(255, 255, 255);
}

.lista-plantas-eliminar {
    flex: 1 1 auto;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background .3s ease-out, box-shadow .3s ease-out;
    -moz-transition: background .3s ease-out, box-shadow .3s ease-out;
    -o-transition: background .3s ease-out, box-shadow .3s ease-out;
    transition: background .3s ease-out, box-shadow .3s ease-out;
}

.lista-plantas-eliminar:hover {
    background: rgba(255, 55, 55, 0.973);
    -webkit-box-shadow: 0px 0px 25px -1px #FF0000; 
    box-shadow: 0px 0px 25px -1px #FF0000;
}

.lista-plantas-eliminar #eliminar {
    -webkit-transition: color .2s; /* For Safari 3.0 to 6.0 */
    transition: color .2s; /* For modern browsers */
}

.lista-plantas-eliminar:hover #eliminar {
    color:rgb(255, 255, 255);
}

.agregar-deseado input {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}

.ver-detalles-planta {
    border-top: 1px solid black;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background .3s ease-out, box-shadow .3s ease-out;
    -moz-transition: background .3s ease-out, box-shadow .3s ease-out;
    -o-transition: background .3s ease-out, box-shadow .3s ease-out;
    transition: background .3s ease-out, box-shadow .3s ease-out;
}

.ver-detalles-planta:hover {
    background: rgba(126, 170, 44, 0.897);
    -webkit-box-shadow: 0px -5px 25px -1px #91B52D; 
    box-shadow: 0px -5px 25px -1px #91B52D;
    
}

.ver-detalles-planta input {
    margin: 10px;
    border: 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    max-width: 100%;
    background: transparent; 
    -webkit-transition: color .2s; /* For Safari 3.0 to 6.0 */
    transition: color .2s; /* For modern browsers */
}

.ver-detalles-planta:hover input {
    color: rgb(255, 255, 255);
}

/* Login */
.formulario-login {
    border: 1px solid black;
    border-radius: 5px;
	max-width: 300px;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
}

.formulario-login h1 {
    font-size: 40px;
    font-weight: 200;
    padding: 0 0 50px 0;
}

.formulario-login form {
	padding: 20px 0;
	position: relative;
	z-index: 2;
}

.form-login input {
    display: block;
    appearance: none;
    outline: 0;
    width: 250px;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
}


/* Ver Detalle */

.foto-planta-detalle img {
    height: 200px;
    width: 200px;
}