* {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    background-color: #f1f1f1;
}

button {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}

button:hover {
    background-color: #3e4144;
}

button:focus {
    outline: none;
}


/* header */

.menu-user {
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
}

.btn-registrarse,
.btn-iniciarsesion {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 40px;
    z-index: 90;
    background: rgb(255, 255, 255);
    /*background: rgb(87,135,31);*/
    /*background: linear-gradient(90deg, rgba(87,135,31,1) 0%, rgba(132,191,34,1) 100%);*/
    /*
    background-color: rgba(211, 211, 211, 0.7);
    backdrop-filter: brightness(100%) blur(3px);
    border-bottom: 1px solid black;
    */
}

@media only screen and (min-width: 1200px) {
    .topbar {
        width: 1080px;
        max-width: 1080px;
    }
}

@media only screen and (min-width: 1200px) {
    .topbar {
        max-width: 1080px;
    }
}

@media only screen and (min-width: 996px) {
    .topbar {
        max-width: 1080px;
    }
}

@media only screen and (min-width: 768px) {
    .topbar {
        max-width: 1080px;
        padding: 0;
    }
}

.topbar {
    height: 40px;
    display: flex;
}


/* Menu navegacion debajo de header */

.menu-navegacion {
    height: 60px;
    background-color: #ffffff;
    border: 2px solid rgb(207, 207, 207);
    display: flex;
    justify-content: space-around;
}

.menu-logo img {
    width: 40px;
    height: 40px;
}

.botones-menu {
    width: 750px;
    display: flex;
    border-left: 2px solid rgb(207, 207, 207);
    border-right: 2px solid rgb(207, 207, 207);
}

.caja1,
.caja2,
.caja3,
.caja4,
.caja5,
.caja6,
.caja7 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-logo {
    cursor: pointer;
}

.header-logo img {
    padding: 5px;
    height: 42px;
    width: 42px;
}

.header-userinfo {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    float: right;
}

.header-userinfo a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.userinfo {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.nombre {
    padding: 10px;
}

.header-content {
    display: flex;
    flex-direction: row;
    width: 550px;
    padding: 10px;
    justify-content: space-around;
}

.header-content li {
    list-style: none;
}

.avatar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.avatar input {
    margin-top: 5px;
}

.avatar-perfil img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.nombre {
    font-size: 20px;
    font-weight: bold;
}

.email {
    margin: 2px;
}


/* Dropdown menú */

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17.3px 10px 0 10px;
    border-color: #000000 transparent transparent transparent;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

#collapse-menu {
    transition: transform 0.3s;
    transform-origin: top;
    color: #FFF;
    top: 100%;
    left: 0;
    z-index: 999;
    min-width: 100px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #252c31;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

#collapse-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #d3dce4;
    white-space: nowrap;
    list-style: none;
    text-decoration: none;
}

#collapse-menu li:hover {
    background-color: #606f7a;
}

input:not(:checked)~#collapse-menu {
    transform: scaleY(0);
}

.presentacion {
    height: 200px;
    background-color: #2b2e30;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


/* div para espaciar */

.espacio {
    height: 130px;
}


/* Contenido principal de la página */

@media only screen and (min-width: 1200px) {
    .content {
        max-width: 1080px;
        padding-top: 14px;
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* Enlaces de navegacion */

.enlaces-navegacion {
    margin: 10px;
    display: flex;
    padding: 5px;
}

.enlaces-navegacion a {
    margin: 5px;
    text-decoration: none;
}

.enlaces-navegacion a:visited {
    color: #888;
}

.flecha-navegacion {
    margin: 8px;
    font-size: 10px;
    color: #888;
}

.content {
    width: 100%;
    /*margin: 0 auto;*/
    background-color: #f6f5f5;
}


/* Lista de usuarios administradores */

.scroll-usuarios {
    height: 10rem;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 0 0 10px;
}

.lista-usuarios {
    display: flex;
}

.lista-usuarios:nth-of-type(odd) {
    background-color: #f1f1f1;
}

.lista-usuarios-avatares img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.lista-usuarios-content {
    margin: 0 0 0 5px;
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.lista-usuarios-nombre {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 2px;
}

.lista-usuarios-email {
    font-size: 12px;
    margin: 0 0 2px 2px;
}

.lista-usuarios-crud {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}

.lista-usuarios-crud input {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}

.lista-usuarios-modificar input {
    margin: 2px 2px 0 2px;
}

.lista-usuarios-modificar input:hover {
    background-color: #3e4144;
}

.lista-usuarios-eliminar button {
    background-color: rgb(240, 32, 32);
    margin: 2px 2px 0 2px;
}

.lista-usuarios-eliminar button:hover {
    background-color: rgb(241, 101, 101);
}

.lista-item-contenido h5 {
    font-size: 1.5em;
    color: #555;
}

.lista-item-contenido h6 {
    font-size: 1em;
    color: #888;
}

.lista-usuarios-crear input {
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px 0 10px 10px;
    border-radius: 3px;
    border: 1px solid rgb(2, 99, 155);
    color: rgb(2, 99, 155);
    cursor: pointer;
    padding: 15px 20px;
    background-color: #FFF;
    -webkit-transition: background .3s ease-out;
    -moz-transition: background .3s ease-out;
    -o-transition: background .3s ease-out;
    transition: background .3s ease-out;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.lista-usuarios-crear input:hover {
    background: rgba(2, 99, 155, 0.719);
    color: #FFF;
}


/* Login */

.loginError button {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}


/* Página modificar user */

.modificar-user {
    display: flex;
}

.modificar-avatar {
    display: flex;
    flex-direction: column;
}

.modificar-avatar img {
    height: 100px;
    width: 100px;
}

.modificar-avatar input {
    margin-top: 5px;
}

.modificar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.aceptar-modificaciones {
    margin-top: 5px;
}


/* Buscador de plantas */

.buscador {
    width: 100%;
    display: flex;
}

.barra-buscador {
    width: 100%;
    height: 100%;
    border: transparent;
}

.barra-buscador::placeholder {
    font-size: 25px;
    color: #CCC;
    padding: 30px;
}

.btn-buscador {
    margin-left: 20px;
    width: 120px;
    height: 40px;
    font-size: 15px;
}


/* Carrito */

.btn-carrito button {
    background: transparent;
    border: 1px solid black;
}

.carrito {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding-top: 30px;
    padding-bottom: 30px;
}

.caja-contador {
    width: 30px;
    background-color: tomato;
}


/* Ordenar plantas */

.lista-orden {
    padding: 0px 0px 10px 10px;
}

.lista-orden button {
    margin-top: 10px;
}


/* Crear XML */

.descargar-xml {
    margin: 10px;
}

.descargar-xml input {
    margin: 20px 0 0 10px;
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}


/* Plantas */

.scroll-plantas {
    display: flex;
    flex-wrap: wrap;
}

.lista-plantas-crear input {
    margin: 20px 0 0 10px;
    border-radius: 3px;
    border: 1px solid rgb(76, 155, 2);
    color: rgb(76, 155, 2);
    cursor: pointer;
    padding: 15px 20px;
    background-color: #FFF;
    -webkit-transition: background .3s ease-out;
    -moz-transition: background .3s ease-out;
    -o-transition: background .3s ease-out;
    transition: background .3s ease-out;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.lista-plantas-crear input:hover {
    background: rgba(76, 155, 2, 0.719);
    color: #FFF;
}

.lista-plantas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    width: 200px;
}

.carta {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 50px -20px rgb(0 0 0 / 25%);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.carta:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.lista-plantas-content {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF;
}

.lista-plantas-fotos {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.lista-plantas-fotos img {
    height: 200px;
    width: 100%;
    vertical-align: middle;
    transition: transform 650ms ease;
    /* Animation */
}

.lista-plantas-fotos:hover img {
    position: relative;
    transform: scale(1.2);
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.lista-plantas-nombre {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}


/*
.lista-plantas-descripcion {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
*/

.lista-plantas-precio {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

.lista-plantas-gestionCarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cantidadCarrito {
    width: 40px;
}

.lista-plantas-crud {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.lista-plantas-crud input {
    margin: 10px;
    border: 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    max-width: 100%;
    background: transparent;
}

.lista-plantas-modificar {
    flex: 1 1 auto;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background .3s ease-out, box-shadow .3s ease-out;
    -moz-transition: background .3s ease-out, box-shadow .3s ease-out;
    -o-transition: background .3s ease-out, box-shadow .3s ease-out;
    transition: background .3s ease-out, box-shadow .3s ease-out;
}

.lista-plantas-modificar:hover {
    background: rgba(0, 0, 0, 0.719);
    -webkit-box-shadow: 0px 0px 25px -1px #000000;
    box-shadow: 0px 0px 25px -1px #000000;
}

.lista-plantas-modificar #modificar {
    -webkit-transition: color .2s;
    /* For Safari 3.0 to 6.0 */
    transition: color .2s;
    /* For modern browsers */
}

.lista-plantas-modificar:hover #modificar {
    color: rgb(255, 255, 255);
}

.lista-plantas-eliminar {
    flex: 1 1 auto;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background .3s ease-out, box-shadow .3s ease-out;
    -moz-transition: background .3s ease-out, box-shadow .3s ease-out;
    -o-transition: background .3s ease-out, box-shadow .3s ease-out;
    transition: background .3s ease-out, box-shadow .3s ease-out;
}

.lista-plantas-eliminar:hover {
    background: rgba(255, 55, 55, 0.973);
    -webkit-box-shadow: 0px 0px 25px -1px #FF0000;
    box-shadow: 0px 0px 25px -1px #FF0000;
}

.lista-plantas-eliminar #eliminar {
    -webkit-transition: color .2s;
    /* For Safari 3.0 to 6.0 */
    transition: color .2s;
    /* For modern browsers */
}

.lista-plantas-eliminar:hover #eliminar {
    color: rgb(255, 255, 255);
}


/* Agregar o quitar deseados */

.carta .btn-agregar-deseado {
    position: absolute;
    top: 0;
    left: 160px;
}

.agregar-deseado button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 30px;
    transition: transform .2s;
}

.agregar-deseado button:hover {
    transform: scale(1.5);
}

.carta .btn-quitar-deseado {
    position: absolute;
    top: 0px;
    left: 160px;
}

.quitar-deseado button {
    background-color: transparent;
    color: rgb(255, 190, 70);
    cursor: pointer;
    font-size: 30px;
    transition: transform .2s;
}

.quitar-deseado button:hover {
    transform: scale(1.5);
}


/* Botón ver detalle */

.ver-detalles-planta {
    text-align: center;
    background-color: #FFF !important;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background .3s ease-out, box-shadow .3s ease-out;
    -moz-transition: background .3s ease-out, box-shadow .3s ease-out;
    -o-transition: background .3s ease-out, box-shadow .3s ease-out;
    transition: background .3s ease-out, box-shadow .3s ease-out;
}

.ver-detalles-planta:hover {
    background: rgba(126, 170, 44, 0.897) !important;
    -webkit-box-shadow: 0px -5px 25px -1px #91B52D;
    box-shadow: 0px -5px 25px -1px #91B52D;
}

.ver-detalles-planta input {
    margin: 10px;
    border: 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    max-width: 100%;
    background: transparent;
    -webkit-transition: color .2s;
    /* For Safari 3.0 to 6.0 */
    transition: color .2s;
    /* For modern browsers */
}

.ver-detalles-planta:hover input {
    color: rgb(255, 255, 255);
}


/* Login */

.formulario-login {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

.formulario-login h1 {
    font-size: 40px;
    font-weight: 200;
    padding: 0 0 50px 0;
}

.formulario-login form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.form-login input {
    display: block;
    appearance: none;
    outline: 0;
    width: 250px;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
}


/* Ver Detalle */

.foto-planta-detalle img {
    height: 200px;
    width: 200px;
}


/* Crear usuario nuevo */

.crear-nuevo-usuario {
    padding: 10px;
}

.crear-nuevo-usuario button {
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px 0 10px 10px;
    border-radius: 3px;
    border: 1px solid rgb(2, 99, 155);
    color: rgb(2, 99, 155);
    cursor: pointer;
    padding: 15px 20px;
    background-color: #FFF;
    -webkit-transition: background .3s ease-out;
    -moz-transition: background .3s ease-out;
    -o-transition: background .3s ease-out;
    transition: background .3s ease-out;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.crear-nuevo-usuario button:hover {
    background: rgba(2, 99, 155, 0.719);
    color: #FFF;
}


/* Crear planta nueva */

#nombre {
    width: 300px;
    height: 50px;
}

#descripcion {
    width: 300px;
    height: 150px;
}


/* Side panel */

.side-panel {
    background: rgb(92, 173, 69);
    background: linear-gradient(90deg, rgba(92, 173, 69, 1) 0%, rgba(66, 175, 126, 1) 100%);
    width: 300px;
    height: auto;
    margin-right: 10px;
}


/* Content wrapper */

.content-wrapper {
    margin: 20px;
    display: flex;
}


/* carro */

.contadorCarrito {
    position: absolute;
    left: 680px;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 41, 4);
    color: #FFF;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.no-content {
    padding: 10px;
}


/* css del carro */

#shopping-cart {
    margin: 40px 0px;
}

#product-grid {
    margin: 40px 0px;
}

#shopping-cart table {
    width: 100%;
    background-color: #dfdfdf;
}

#shopping-cart table td {
    background-color: #FFFFFF;
}

.txt-heading {
    color: #211a1a;
    border-bottom: 1px solid #E0E0E0;
    overflow: auto;
}

#btnEmpty {
    background-color: #ffffff;
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #d00000;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
    margin-bottom: 18px;
}

.product-item {
    float: left;
    background: #ffffff;
    margin: 20px 20px 0px 0px;
    border: #E0E0E0 1px solid;
}

.product-image {
    height: 155px;
    width: 250px;
    background-color: #FFF;
}

.clear-float {
    clear: both;
}

.demo-input-box {
    border-radius: 2px;
    border: #CCC 1px solid;
    padding: 2px 1px;
}

.tbl-cart {
    font-size: 0.9em;
}

.tbl-cart th {
    font-weight: normal;
}

.product-title {
    margin-bottom: 20px;
}

.product-price {
    float: left;
}

.cart-action {
    float: right;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px;
    overflow: auto;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}

.no-records {
    text-align: center;
    clear: both;
    margin: 38px 0px;
}

.content-carrito {
    width: 100%;
    /*margin: 0 auto;*/
    background-color: transparent;
}

@media only screen and (min-width: 1200px) {
    .content-carrito {
        max-width: 1080px;
        padding-top: 14px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.vaciar-carrito input {
    float: right;
    margin: 0 0 10px 0;
    border-radius: 3px;
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    cursor: pointer;
    padding: 10px 15px;
    background-color: #FFF;
    -webkit-transition: background .3s ease-out;
    -moz-transition: background .3s ease-out;
    -o-transition: background .3s ease-out;
    transition: background .3s ease-out;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.vaciar-carrito input:hover {
    background: rgba(243, 14, 14, 0.719);
    color: #FFF;
}


/* FOOOOOOTER */

.footer {
    line-height: 50px;
    height: 50px;
    padding: 0 20px;
    background-color: #794044;
    color: #8e99a4;
}


/* detalle planta */

.detalle-planta {
    display: flex;
}

.detalle-planta img {
    object-fit: contain;
}

.planta-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}