/* Login */

.formulario-login {
    border-radius: 10px;
    max-width: 460px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    background: radial-gradient(circle, rgba(122, 176, 52, 1) 0%, rgba(88, 133, 43, 1) 100%);
    -webkit-box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 50px 15px rgba(121, 121, 121, 0.3);
}

.formulario-login {
    margin-top: 10%;
}

.formulario-login h1 {
    color: #FFF;
}

.formulario-login form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.form-login input {
    width: 80%;
    padding: 12px 20px;
    border-radius: 5px;
    margin: 0 auto 0 auto;
    display: block;
    border-color: aqua;
    border: 1px solid #ccc;
    box-sizing: border-box;
}