/* side panel test */

.sidepanel-container {
    padding: 5px;
    width: 500px;
}

.side-orden {
    position: relative;
    height: 95px;
    background-color: #80b34d;
    border-radius: 5px;
}

.side-orden button {
    background: none;
    display: block;
}

.side-categorias {
    position: relative;
    height: 257px;
    background: #80b34d;
    margin-top: 15px;
    border-radius: 5px;
}

.side-categorias button {
    background: none;
    display: block;
}

.side-orden button:hover,
.side-categorias button:hover {
    color: rgb(0, 0, 0);
}